.App {
  margin: 30px
}
.ShoppingCart {
  padding: 20px;
  max-width: 70%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  border: 1px solid lightgray;
  border-radius: 1px;
  position: relative;
}
.price {
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: green
}

